<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block title %}<title>Historic Ships Atlas</title>{% endblock %}
  {% load static %}
  {% block head %}<!-- template-specific static files -->{% endblock %}
</head>
<body>
  <h1>Historic Ships Atlas</h1>
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'ships' %}">All Ships</a></li>
  </ul>
  <form action="/atlas/search/" method="get">
    {% csrf_token %}
    <table>
    {{ basic_search_form }}
    </table>
    <input type="submit" value="Submit">
  </form>
  {% block content %}<!-- page content -->{% endblock %}
  {% block script %}<!-- script -->{% endblock %}
</body>
</html>
