<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block title %}<title>Historic Ships Atlas</title>{% endblock %}
  {% load static %}
  {% block head %}<!-- template-specific static files -->{% endblock %}
</head>
<body>
  <h1>Historic Ships Atlas</h1>
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'ships' %}">All Ships</a></li>
    <li><a href="{% url 'haystack_search' %}">Search</a></li>
  </ul>
  {% block content %}<!-- page content -->{% endblock %}
  {% block script %}<!-- script -->{% endblock %}
</body>
</html>
