{% extends "base_generic.html" %}

{% block content %}
<h2>{{ ship.name }}</h2>

<table>
  {% if ship.imo %}
  <tr>
    <th scope="row">IMO Number</th>
    <td>{{ ship.imo }}</td>
  </tr>
  {% endif %}
  {% if ship.type %}
  <tr>
    <th scope="row">Type</th>
    <td>{{ ship.type }}</td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Year Built</th>
    <td>{{ ship.year }}</td>
  </tr>
  {% if ship.builder %}
  <tr>
    <th scope="row">Builder</th>
    <td>{{ ship.builder }}</td>
  </tr>
  {% endif %}
  {% if ship.tonnage %}
  <tr>
    <th scope="row">Gross Tonnage</th>
    <td>{{ ship.tonnage }}</td>
  </tr>
  {% endif %}
  {% if ship.length %}
  <tr>
    <th scope="row">Length (m)</th>
    <td>{{ ship.length }}</td>
  </tr>
  {% endif %}
  {% if ship.beam %}
  <tr>
    <th scope="row">Beam (m)</th>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Location - City</th>
    <td>{{ ship.city }}</td>
  </tr>
  <tr>
    <th scope="row">Location - Country</th>
    <td>{{ ship.country }}</td>
  </tr>
  {% if ship.registers %}
  <tr>
    <th scope="row">Historic Register(s)</th>
    <td>{{ ship.registers }}</td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Current Status</th>
    <td>{{ ship.status }}</td>
  </tr>
  {% if ship.uses %}
  <tr>
    <th scope="row">Current Use(s)</th>
    <td>{{ ship.uses }}</td>
  </tr>
  {% endif %}
  {% if ship.flag %}
  <tr>
    <th scope="row">Flag</th>
    <td>{{ ship.flag }}</td>
  </tr>
  {% endif %}
  {% if ship.owner %}
  <tr>
    <th scope="row">Owner</th>
    <td>{{ ship.owner }}</td>
  </tr>
  {% endif %}
  {% if ship.website %}
  <tr>
    <th scope="row">Website</th>
    <td>{{ ship.website }}</td>
  </tr>
  {% endif %}
  {% if ship.former_names %}
  <tr>
    <th scope="row">Former Names</th>
    <td>{{ ship.former_names }}</td>
  </tr>
  {% endif %}
</table>

{% if ship.description %}
<p>{{ ship.description }}</p>
{% endif %}
{% endblock %}
