{% extends "base_generic.html" %}

{% block head %}
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h2>{{ ship.name }}</h2>

<table>
  {% if ship.imo %}
  <tr>
    <th scope="row">IMO Number</th>
    <td>{{ ship.imo }}</td>
  </tr>
  {% endif %}
  {% if ship.type %}
  <tr>
    <th scope="row">Type</th>
    <td>{{ ship.type }}</td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Year Built</th>
    <td>{{ ship.year_built }}</td>
  </tr>
  {% if ship.builder %}
  <tr>
    <th scope="row">Builder</th>
    <td>{{ ship.builder }}</td>
  </tr>
  {% endif %}
  {% if ship.tonnage %}
  <tr>
    <th scope="row">Gross Tonnage</th>
    <td>{{ ship.tonnage }}</td>
  </tr>
  {% endif %}
  {% if ship.length %}
  <tr>
    <th scope="row">Length (m)</th>
    <td>{{ ship.length }}</td>
  </tr>
  {% endif %}
  {% if ship.beam %}
  <tr>
    <th scope="row">Beam (m)</th>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Location - City</th>
    <td>{{ ship.city }}</td>
  </tr>
  <tr>
    <th scope="row">Location - Country</th>
    <td>{{ ship.country }}</td>
  </tr>
  {% if ship.registers %}
  <tr>
    <th scope="row">Historic Register(s)</th>
    <td>{{ ship.registers }}</td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Current Status</th>
    <td>{{ ship.status }}</td>
  </tr>
  {% if ship.uses %}
  <tr>
    <th scope="row">Current Use(s)</th>
    <td>{{ ship.uses }}</td>
  </tr>
  {% endif %}
  {% if ship.flag %}
  <tr>
    <th scope="row">Flag</th>
    <td>{{ ship.flag }}</td>
  </tr>
  {% endif %}
  {% if ship.owner %}
  <tr>
    <th scope="row">Owner</th>
    <td>{{ ship.owner }}</td>
  </tr>
  {% endif %}
  {% if ship.website %}
  <tr>
    <th scope="row">Website</th>
    <td>{{ ship.website }}</td>
  </tr>
  {% endif %}
  {% if ship.former_names %}
  <tr>
    <th scope="row">Former Names</th>
    <td>{{ ship.former_names }}</td>
  </tr>
  {% endif %}
</table>

{% if ship.description %}
<p>{{ ship.description }}</p>
{% endif %}

<div id="map" style="height: 600px;"></div>

<script>
  mapboxgl.accessToken = "pk.eyJ1IjoiZG91Z25ld21hbiIsImEiOiJjam5vODkwaHQwNm1qM3BxbHV6YmlidWFoIn0.3rN2nNWL5-Ie_euOFrChbg";
  var map = new mapboxgl.Map({
      container: "map",
      center: [{{ ship.lon }}, {{ ship.lat }}],
      zoom: 12,
      style: "mapbox://styles/mapbox/satellite-streets-v10"
  });
  map.on("load", function () {
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, "top-left");
    map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [{{ ship.lon }}, {{ ship.lat }}]
                    },
                    "properties": {
                        "title": "{{ ship.name }}",
                        "icon": "harbor"
                    }
                }]
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        },
        "paint": {
            "text-color": "#ffffff",
            "text-halo-color": "#000000",
            "text-halo-width": 1,
        }
    });
  });
</script>
{% endblock %}
